@media all and (max-width: 1920px) {
  .block2_img_rombo img {
    margin: -12% 0% 0% 55%;
  }
}

@media all and (min-width: 1785px) and (max-width: 1880px) {
  block2_img img {
    left: -29%;
  }
}

@media all and (min-width: 1620px) and (max-width: 1785px) {
  block2_img img {
    left: -40%;
  }
}

@media all and (min-width: 1620px) and (max-width: 1780px) {
  .block2_img img {
    left: -36%;
  }
}
@media all and (max-width: 1705px) {
  .block2_img img {
    left: -33%;
  }
}

@media all and (min-width: 1435px) and (max-width: 1485px) {
  .block2_img img {
    left: -45%;
  }
}

@media all and (min-width: 1360px) and (max-width: 1435px) {
  .block2_img img {
    left: -49%;
  }
}

@media all and (max-width: 1350px) {
  .block2_img img {
    left: -60%;
  }
}

@media all and (min-height: 535px) {
  .weare {
    margin: 20% 10%;
  }
}

@media all and (max-width: 1650px) {
  .block2_img_rombo img {
    margin: -12% 0% 0% 35%;
  }
}

@media all and (min-width: 1120px) and (max-width: 1450px) {
  .big_logo {
    max-width: 80%;
  }

  .big_logo img {
    height: auto;
  }
  .block4_info {
    margin-left: -140px;
  }

  .block2_info {
    padding-bottom: 0px;
  }

  .block3_2 {
    margin-left: 210px;
  }

  .block6_img {
    /* width: 40%; */
    padding-top: 50px;
    margin-left: 145px;
  }
  .block6_info {
    margin: 60px 0px 0px 120px;
  }

  .block6 h1 {
    font-size: 50px;
  }

  .block6 {
    padding: 100px 0px 100px 0px;
  }
}

@media all and (min-width: 750px) and (max-width: 1120px) {
  .block1 nav {
    margin-left: -120px;
  }

  .btn_block1 {
    margin-left: 0px;
  }

  .block1 p {
    font-size: 25px;
  }

  .block1 button {
    width: 180px;
  }

  .big_logo {
    max-width: 80%;
  }

  .big_logo img {
    height: auto;
  }

  .block1 .girl img {
    width: 60%;
    height: auto;
  }
  .block6 {
    padding: 100px 0px 100px 0px;
  }
}

/* SMALL  SCREEN */
@media all and (min-width: 320px) and (max-width: 425px) {
  * {
    text-align: center;
  }

  .block1 nav {
    display: none;
  }

  .block1 .girl img {
    width: 80%;
    height: auto;
    top: 60%;
    left: 13%;
  }

  .block1 .big_logo {
    padding-bottom: 220px;
  }

  .block1 img {
    width: 80%;
    height: auto;
  }

  .block1 p {
    font-size: 25px;
    height: auto;
  }

  .btn_block1 {
    margin-left: 0px;
    text-align: center;
  }

  /* block2 */
  .block2_img,
  .block2_img_rombo {
    display: none;
  }

  .block2 h1 {
    font-size: 30px;
    text-align: center;
  }

  .block2 button {
    margin-top: 100px;
  }

  .weare p,
  .wemake p {
    font-size: 18px;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
  }

  .wemake,
  .weare {
    margin: auto;
    float: unset;
  }

  .weare {
    margin-top: 100px;
  }
  .block2_info,
  .three_img_info {
    padding-bottom: 0px;
  }

  .block2 .three_img_info {
    display: block;
  }

  .block2 .three_img_info h1,
  .wemake h1 {
    font-size: 30px;
  }

  .same_img_info p {
    width: auto;
    transform: none;
    font-size: 20px;
    margin-top: -100%;
  }

  .same_img_info {
    width: auto;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .lastblock .same_img_info {
    flex: auto;
  }

  .same_img_info img {
    margin-top: 60px;
  }
  .lastblock {
    height: 1090px;
  }

  .block2_info2 .h1_general {
    margin-left: 0%;
    font-size: 35px;
  }

  .block3 .h1_general {
    font-size: 35px;
    margin-top: 50px;
  }
  .block3_same_block img {
    width: 230px;
    height: auto;
  }

  .block3_info {
    margin-top: 50px;
    float: unset;
    text-align: center;
  }
  .block3 .row_btn img {
    width: 30px;
    margin-left: 0px;
  }
  .block3 p {
    font-size: 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 250px;
  }

  .block3_info_2 {
    margin-top: 50px;
    float: unset;
    text-align: center;
  }

  /* block4 */

  .block4_info {
    position: relative;
    left: 0%;
    margin-left: 0px;
    top: -20%;
    margin-top: 0px;
    padding-bottom: 50px;
  }

  .block4 h1 {
    font-size: 35px;
    margin-top: 50px;
    height: auto;
  }
  .block4 p {
    font-size: 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 250px;
    color: #ffffff;
  }

  /* block 6 anketa */
  .block6_info {
    margin: 0px;
  }
  .block6 h1 {
    font-size: 35px;
    margin-top: 50px;
    height: auto;
  }

  .block6 p {
    font-size: 16px;
  }

  .block6 input {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .block6 form {
    margin: 70px 30px 70px 30px;
  }
  .block6 button {
    margin-bottom: 50px;
  }
  .block6_img {
    display: none;
  }

  /* footer */

  .block7 {
    display: grid;
  }
  .block7_info1 {
    width: 250px;
    height: auto;
    margin-left: auto;
    text-align: left;
    margin-right: auto;
  }

  .block7_info2 {
    display: grid;
    width: 250px;
    height: auto;
    margin-left: auto;
    text-align: left;
    margin-right: auto;
  }
  .block7 h1 {
    text-align: left;
  }

  .contacts_nav {
    margin-left: 0px;
    margin-top: 50px;
  }

  .owl-stage-outer.owl-carousel .owl-item img {
    display: initial;
  }
}
