@media all and (max-width: 1920px) {
  .block2_img_rombo img {
    margin: -12% 0% 0% 55%;
  }
}

@media all and (min-width: 1785px) and (max-width: 1880px) {
  block2_img img {
    left: -29%;
  }
}

@media all and (min-width: 1620px) and (max-width: 1785px) {
  block2_img img {
    left: -40%;
  }
}

@media all and (min-width: 1620px) and (max-width: 1780px) {
  .block2_img img {
    left: -36%;
  }
}
@media all and (max-width: 1705px) {
  .block2_img img {
    left: -33%;
  }
}

@media all and (min-width: 1435px) and (max-width: 1485px) {
  .block2_img img {
    left: -45%;
  }
}

@media all and (min-width: 1360px) and (max-width: 1435px) {
  .block2_img img {
    left: -49%;
  }
}

@media all and (max-width: 1350px) {
  .block2_img img {
    left: -60%;
  }
}

@media all and (min-height: 535px) {
  .weare {
    margin: 20% 10%;
  }
}

@media all and (max-width: 1650px) {
  .block2_img_rombo img {
    margin: -12% 0% 0% 35%;
  }
}

@media all and (min-width: 1120px) and (max-width: 1450px) {
  .big_logo {
    max-width: 80%;
  }

  .big_logo img {
    height: auto;
  }
  .block4_info {
    margin-left: -140px;
  }

  .block2_info {
    padding-bottom: 0px;
  }

  .block3_2 {
    margin-left: 210px;
  }

  .block6_img {
    /* width: 40%; */
    padding-top: 50px;
    margin-left: 145px;
  }
  .block6_info {
    margin: 60px 0px 0px 120px;
  }

  .block6 h1 {
    font-size: 50px;
  }

  .block6 {
    padding: 100px 0px 100px 0px;
  }
}

@media all and (min-width: 750px) and (max-width: 1120px) {
  .block1 nav {
    margin-left: -120px;
  }

  .btn_block1 {
    margin-left: 0px;
  }

  .block1 p {
    font-size: 25px;
  }

  .block1 button {
    width: 180px;
  }

  .big_logo {
    max-width: 80%;
  }

  .big_logo img {
    height: auto;
  }

  .block1 .girl img {
    width: 60%;
    height: auto;
  }
  .block6 {
    padding: 100px 0px 100px 0px;
  }
}

/* SMALL  SCREEN */
@media all and (max-width: 320px) {
  * {
    text-align: center;
  }

  .block1 nav {
    display: none;
  }

  .block1 .girl img {
    width: 80%;
    height: auto;
    top: 60%;
    left: 13%;
  }

  .block1 .big_logo {
    padding-bottom: 220px;
  }

  .block1 img {
    width: 80%;
    height: auto;
  }

  .block1 p {
    font-size: 25px;
    height: auto;
  }

  /* block2 */
  .block2_img .block2_img_rombo {
    display: none;
  }

  .block2 h1 {
    font-size: 45px;
    text-align: center;
  }

  .block2 button {
    margin-top: 100px;
  }

  .weare p {
    font-size: 18px;
    text-align: center;
    height: auto;
  }

  .block2_info {
    padding-bottom: 0px;
  }

  .block2 .three_img_info {
    display: block;
  }

  .block2 .three_img_info h1 {
    font-size: 35px;
  }

  .same_img_info p {
    width: auto;
    transform: none;
    font-size: 20px;
    margin-top: -100%;
  }

  .same_img_info {
    width: auto;
    height: 400px;
  }
}
