@media all and (max-width: 1920px) {
  .block2_img_rombo img {
    margin: -12% 0% 0% 55%;
  }
}

@media all and (min-width: 1785px) and (max-width: 1880px) {
  block2_img img {
    left: -29%;
  }
}

@media all and (min-width: 1785px) and (max-width: 1785px) {
  block2_img img {
    left: -40%;
  }
}

@media all and (min-width: 1620px) and (max-width: 1780px) {
  .block2_img img {
    left: -36%;
  }
}
)
@media all  and  (max-width: 1705px) {
  .block2_img img {
    left: -33%;
  }
}

@media all and (max-width: 1650px) {
  .block2_img_rombo img {
    margin: -12% 0% 0% 35%;
  }
}

@media all and (min-width: 1120px) and (max-width: 1450px) {
  .big_logo {
    max-width: 80%;
  }

  .big_logo img {
    height: auto;
  }
}

@media all and (min-width: 750px) and (max-width: 1120px) {
  .block1 nav {
    margin-left: -120px;
  }

  .btn_block1 {
    margin-left: 0px;
  }

  .block1 p {
    font-size: 25px;
  }

  .block1 button {
    width: 180px;
  }

  .big_logo {
    max-width: 80%;
  }

  .big_logo img {
    height: auto;
  }

  .block1 .girl img {
    width: 60%;
    height: auto;
  }
}

/* @media all and (min-width: 410px) and (max-width: 750px) {
  .big_logo {
    max-width: 50%;
  }

  .big_logo img {
    height: auto;
  }
} */
