@media all and (max-width: 1280px) {
  .block1 .girl img {
    width: 629px;
    height: 857px;
  }
}

@media all and (min-width: 1245px) and (max-width: 1250px) {
  .big_logo {
    max-width: 50%;
  }

  .big_logo img {
    height: auto;
  }
}
