.block1 {
  width: 1934px;
  height: 920px;
  transform: rotate(-180deg);
  box-shadow: -8px 1px 116px rgba(0, 0, 0, 0.21);
  background-image: radial-gradient(
    circle 1673px at 29.24% 114.02%,
    #22466c 0%,
    #0e1f39 100%
  );
  opacity: -1;
}
