* {
  max-width: 100%;
}
button {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 33px;
  background-image: linear-gradient(180deg, #ff8067 0%, #df3939 100%);
  color: #ffffff;
  font-family: "Museo -700";
  font-size: 20px;
}
.container {
  max-width: 100%;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.block1 {
  width: 100%;
  /* height: 920px; */
  position: relative;
  box-shadow: -8px 1px 116px rgba(0, 0, 0, 0.21);
  background-image: radial-gradient(
    circle 1673px at 29.24% 114.02%,
    #22466c 0%,
    #0e1f39 100%
  );
  /* opacity: -1; */
  z-index: 2;
}

.block1 nav {
  max-width: 100%;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 40px;

  height: 19px;
  text-align: right;
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.89px;
}
.block1 nav a {
  width: 446px;
  height: 19px;
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.84px;
  /* Text style for "Services" */
  letter-spacing: 0.89px;
  text-transform: capitalize;
}

.block1 nav a + a {
  margin-left: 30px;
}
.big_logo {
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 100%;
  width: 1200px;
  text-align: center;
}
.block1 img {
  max-width: 100%;
  width: 1226px;
  height: 309px;
  margin: 0 auto;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.block1 p {
  width: 350px;
  height: 103px;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Exo 2.0- Bold";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.03px;
  line-height: 40px;
}
.block1 button {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 33px;
  background-image: linear-gradient(180deg, #ff8067 0%, #df3939 100%);
  color: #ffffff;
  font-family: "Museo -700";
  font-size: 20px;
}
.btn_block1 {
  text-align: left;
  margin-left: 50px;
  margin-top: 80px;
}
.block1 button {
  margin-top: 50px;
}

.block1 .girl img {
  width: 729px;
  height: 957px;
  position: absolute;
  top: 25%;
  left: 35%;
}

.block2 {
  width: 1922px;
  /* height: 2851px; */
  padding-bottom: 300px;
  background-image: radial-gradient(
    circle 1288px at 65.32% 35.97%,
    #ff7260 0%,
    #d74f4f 100%
  );
  z-index: 0;
}
.block2_info {
  /* height: 895px; */
  width: 1200px;
  padding-bottom: 810px;
  margin-left: auto;
  margin-right: auto;
}

/* .block2_img {
  width: 1306px;
  height: 895px;
  left: -25%;
  top: 85%;
  position: absolute;
} */

.block2_img img {
  height: 895px;
  left: -45%;
  top: 120%;
  position: absolute;
}

.weare {
  float: right;
  margin: 10% 10%;
}

.weare h1 {
  height: 70px;
  color: #242f3a;
  font-family: "Exo 2.0- Bold";
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.52px;
  text-transform: uppercase;
}

.weare p {
  height: 219px;
  /* opacity: 0.9; */
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 32px;
  /* Text style for "Business i" */
  font-family: "Museo -700";
}

.block2_info button {
  width: 220px;
  height: 60px;
  border-radius: 33px;
  border: 3px solid #ffffff;
}

.three_img_info {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.three_img_info h1 {
  height: 38px;
  color: #242f3a;
  font-family: "Exo 2.0- Bold";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.same_img_info {
  width: 50%;
  text-align: center;
}

.same_img_info img {
  height: 230px;
  margin-top: 60px;
}

.same_img_info p {
  width: 50px;
  margin-top: -60%;
  transform: rotate(90deg);
  color: #ff9291;
  font-family: "Exo 2.0- Bold";
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.37px;
  text-transform: uppercase;
}

.block2_info2 {
  display: flex;
  flex-direction: row;
  height: 895px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wemake {
  margin: 20% 0% 0% 10%;
  width: 510px;
}
.h1_general {
  height: 70px;
  color: #242f3a;
  font-family: "Exo 2.0- Bold";
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.52px;
  text-transform: uppercase;
}

.wemake p {
  height: 256px;
  /* opacity: 0.9; */
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 32px;
  /* Text style for "Business i" */
  font-family: "Museo -700";
}

.block2_info2 button {
  width: 220px;
  height: 60px;
  border-radius: 33px;
  border: 3px solid #ffffff;
}

/* rombo property */

.block2_img_rombo {
  width: 976px;
  /* height: 1479px; */
  /* left: 57%;
  top: 205%; */
  position: relative;
  overflow: hidden;
}

.block2_img_rombo img {
  margin: -12% 0% 0% 30%;
}

.same_img_info h1 {
  height: 68px;
  color: #242f3a;
  font-family: "Exo 2.0- Bold";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.lastblock {
  flex-wrap: wrap;
  height: 400px;
}

.lastblock .same_img_info {
  flex: 1 1 30%;
  text-align: center;
}

/* block3 */
.block3 {
  width: 100%;
  /* height: 1982px; */
  background-color: #151f30;
  display: inline-block;
  text-align: center;
}

.block3 .h1_general{
  /* width: 424px; */
height: 70px;
margin-top:140px;
color: #f06868;
font-family: "Exo 2.0- Bold";
font-size: 60px;
font-weight: 700;
letter-spacing: -0.68px;
text-transform: uppercase;
}

.block3_same_block {
  display: block;
  margin-bottom:60px;
}

.block3_info{
  float: right;
}
.block3_info_2{
  float: left;
}

.block3 button{
  width: auto;
  height: auto;
}
