.block1 {
  width: 100%;
  height: 920px;
  position: relative;
  box-shadow: -8px 1px 116px rgba(0, 0, 0, 0.21);
  background-image: radial-gradient(
    circle 1673px at 29.24% 114.02%,
    #22466c 0%,
    #0e1f39 100%
  );
  /* opacity: -1; */
}

.block1 nav {
  width: 100%;
  height: 19px;
  text-align: right;
  margin-right:
  margin-top: 40px;
  position: absolute;
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.84px;
  /* Text style for "Services" */
  letter-spacing: 0.89px;
}
.block1 nav a {
  width: 446px;
  height: 19px;
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.84px;
  /* Text style for "Services" */
  letter-spacing: 0.89px;
  text-transform: capitalize;
}

.block1 nav a + a {
  margin-left: 30px;
}

.block2 {
  width: 1922px;
  height: 2851px;
  background-image: radial-gradient(
    circle 1288px at 65.32% 35.97%,
    #ff7260 0%,
    #d74f4f 100%
  );
  /* opacity: -1; */
}
