* {
  max-width: 100%;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.block1 {
  width: 100%;
  height: 920px;
  position: relative;
  box-shadow: -8px 1px 116px rgba(0, 0, 0, 0.21);
  background-image: radial-gradient(
    circle 1673px at 29.24% 114.02%,
    #22466c 0%,
    #0e1f39 100%
  );
  /* opacity: -1; */
  z-index: 2;
}

.block1 nav {
  max-width: 100%;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 40px;

  height: 19px;
  text-align: right;
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.89px;
}
.block1 nav a {
  width: 446px;
  height: 19px;
  color: #ffffff;
  font-family: "Museo 500- Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.84px;
  /* Text style for "Services" */
  letter-spacing: 0.89px;
  text-transform: capitalize;
}

.block1 nav a + a {
  margin-left: 30px;
}
.big_logo {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  text-align: center;
}
.block1 img {
  max-width: 100%;
  width: 1226px;
  height: 309px;
  margin: 0 auto;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.block1 p {
  width: 350px;
  height: 103px;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Exo 2.0- Bold";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.03px;
  line-height: 40px;
}
.block1 button {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 33px;
  background-image: linear-gradient(180deg, #ff8067 0%, #df3939 100%);
  color: #ffffff;
  font-family: "Museo -700";
  font-size: 20px;
}
.btn_block1 {
  text-align: left;
  margin-left: 50px;
  margin-top: 80px;
}
.block1 button {
  margin-top: 50px;
}

.block1 .girl img {
  width: 729px;
  height: 957px;
  position: absolute;
  top: 25%;
  left: 35%;
}

.block2 {
  width: 1922px;
  height: 2851px;
  background-image: radial-gradient(
    circle 1288px at 65.32% 35.97%,
    #ff7260 0%,
    #d74f4f 100%
  );
  z-index: 0;
}
.block2_info{
  height: 895px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.block2_img {
  width: 1306px;
  height: 895px;
  left: -25%;
  top: 85%;
  position: absolute;
}
